<div class="card">
    <div class="card-header d-flex">
        <fa-icon [icon]="poiIcon" class="mr-2"></fa-icon>
        <h5>{{poi.name}}</h5>
    </div>

    <div class="card-body">
        <div>
            <p>
                <fa-icon [icon]="mapMarkerIcon" class="mr-2"></fa-icon>{{poi.address.label}}
            </p>
        </div>

        <div class="row d-flex justify-content-between">
            <a routerLink="/arrivals/{{poi.coord.lon}};{{poi.coord.lat}}" class="col-5 btn btn-success">Arrivals</a>
            <a routerLink="/departures/{{poi.coord.lon}};{{poi.coord.lat}}" class="col-6 btn btn-danger">Departures</a>
        </div>
    </div>
</div>