<h1>Departures</h1>

<div class="container">
    <div class="row d-flex flex-wrap justify-content-center">
        <div *ngFor="let departure of departures" class="col-10 col-lg-3 m-3">
            <app-station-display-infos [infos]="departure.display_informations"></app-station-display-infos>
        </div>
    </div>
</div>