<h1>Companies</h1>

<div class="container">
    <div class="row d-flex flex-wrap justify-content-center">
        <div *ngFor="let company of companies" class="col-10 col-lg-3 m-3">
            <app-company [name]="company.name" [id]="company.id">
            </app-company>
        </div>
    </div>
</div>