<div class="card col-sm-12 col-lg-4">
    <fa-icon [icon]="faHotel"></fa-icon>

    <div class="card-body">
        <div>
            <p>{{name}}</p>
            <p>{{code}}</p>
        </div>

        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>