<div class="card">
    <div class="card-header d-flex">
        <fa-icon [icon]="faBuilding" class="mr-2"></fa-icon>
        <h5>{{name}}</h5>
    </div>

    <div class="card-body">
        <div>
            <p>{{id}}</p>
        </div>
    </div>
</div>