<h1>Welcome</h1>

<div class="container">
    <div class="row d-flex flex-wrap justify-content-center">
        <div *ngFor="let poi of pois" class="col-10 col-lg-3 m-3">
            <app-poi [poi]="poi"></app-poi>
        </div>
    </div>
</div>