<div class="container">
    <div class="row d-flex">
        <fa-icon [icon]="physicalModeIcon" class="mr-2"></fa-icon>
        <span class="badge badge-pill" [style.background-color]="'#' + infos.color">{{infos.code}}</span>
        <div>{{infos.network}}</div>
        <div>{{infos.direction}}</div>
    </div>
</div>